
/** CSS RULES GO IN HERE */

section p#para1 a {
	background-color: #0000FF;
	color: white;
	font-size: 45px;
}

section p#para2 a {
	color: #FF0000;
	font-size: 30px;
}

section p#para3 a {
	color: #00FF00;
	font-size: 75px;
}

section a:hover {
	font-weight: bold;
}

section div#para4 a {
	background-color: blue;
	color: white;
	font-size: 48px;
}

