html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
 }

 html, body {
 	height: 100%;
 }

 body {
 	margin: 0px;
 	background-color: #B9BFBD;
 }

 h1 {
 	text-align: center;
 	margin: 0px;
 	padding: 25px;
 }

 

