html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
 }

 html, body {
 	height: 100%;
 }
	
body {
	background-color: #efefef;
	margin: 0px;
	padding: 0px;
}

img#logo {
	display: block;
	height: 165px;
	width: 250px;
	float: left;
}

div#toptext {
	display: inline-block;
	width: 700px;
	margin-bottom: 0px;
	height: 100px;
	padding: 20px;
}

@font-face {
	font-family: 'KaushanScript-Regular';
	src: url('www.fontsquirrel.com');}


h1 {
	font-family: KaushanScript-Regular;
	font-size: 36px;
	color: #FF0000;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	width: 700px;
	text-align: center;
}

h2 {
	font-size: 26px;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 700px;
	text-align: center;
}

div.clearit {
	clear: both;
}

div#navlinks {
	float:right;
}

nav a {
	display: block;
	height: 40px;
	width: 230px;
	background-color: #FF0000;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	margin-bottom: 1px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

nav a:hover {
	background-color: black;
}

img#Dogfound {
	height: 800px;
	width: 100%;
}

address {
	background-color: #FF0000;
	color: white;
}




