

.blockelm {
  background-color: #ED3689;
  border: 10px solid #000000;
  margin: 20px;
  width: 300px;
  height: 200px;
  float: left;
}

.inlineelm {
  color: #37E637;
  font-weight: bold;
  margin: 10px;
  height: 100px;
  width: 100px;


