
body{
	background-color: #B2BB31;	
}

nav {
	text-align: center;
}

h1 {
	text-align: center;
}
	
h2 {
	font-family: Arial;
	font-style: normal;
	font-size: 18px;	
}

p {
	font-size: 19px;
	margin: 10px;
	padding-bottom: 30px;
}

ul {font-weight: bold;
	display: inline;
}

nav a {text-align: center;
}

#left {float: left;
margin: 10px;
clear: both;
}

#lists {
display: inline-block;
clear: both;
}



