
/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* See: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

div#box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2rem;
  padding: 20px;
  height: 60%;
  width: 90%;
  background-color: blue;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
{
  div#box {
    background-color: #FF00FF;
  }
}

