
/* These two rules are the box model reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* Set some rules here */
div#container {
    background-color: #F74799;
    width: 800px;
    margin: 20px;
    padding: 100px;
    border: 5px solid #000000;
}

div#inner {
    background-color: #00FF00;
    border: 20px solid #000000;
}

