

h1 {
	background-color: 403F3C;
	padding: 30px;
	text-align: center;
	border: 5px black solid;
	color: black;
	margin: 10px;
}

p {
   margin-right: 10px;
   line-height: 1.75em;
   padding: 10px;
   margin: 10px;
}

img#left {
	height: 180px;
	width: 175px;
	float: left;
	padding-top: 15px;
	margin: 10px;
}

img#right {
	float: right;
	height: 180px;
	width: 175px;
	padding-top: 15px;
	margin: 10px;
}

#firstparag {
	border: 10px black solid;
	margin: 10px;
}

#secondparag {
	border: 10px black solid;
	margin: 10px;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}

li {
	display: inline;
	float: left;
	margin-right: 30px;
	padding-bottom: 10px;
}

.active {
	background-color: blue;
	color: white;
}

#nav {
	border: 10px;
}
